apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels:
        app: nodejs
    spec:
      containers:
      - name: nodejs
        # غيّر السطر التالى باسم صورتك الحقيقية على Docker Hub
        image: yasminatef/nodejs-app:latest
        ports:
        - containerPort: 3000
        # environment vars لو محتاجين اتصال بقاعدة
        env:
        - name: DB_HOST
          value: "mysql"
        - name: DB_USER
          value: "appuser"
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: APP_PASSWORD
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5    # متغير حسب وقت الإقلاع للتطبيق
          periodSeconds: 5
          failureThreshold: 3
          successThreshold: 1
          timeoutSeconds: 2
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 20   # خلي ليفنس يبدأ بعد الوصول المتوقع للـ app
          periodSeconds: 10
          failureThreshold: 3
          timeoutSeconds: 2
---
apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
spec:
  selector:
    app: nodejs
  ports:
  - port: 3000
    targetPort: 3000
  type: ClusterIP

