apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels:
        app: nodejs
    spec:
      tolerations:
      - key: "workload"
        operator: "Equal"
        value: "worker"
        effect: "NoSchedule"

      initContainers:
      - name: init-mysql-db
        image: mysql:5.7
        envFrom:
        - configMapRef:
            name: mysql-config
        - secretRef:
            name: mysql-secret
        command: ["sh", "-c"]
        args:
          - |
            echo "Creating database and user..."
            mysql -h $DB_HOST -u$DB_USER -p$DB_PASSWORD -e "
              CREATE DATABASE IF NOT EXISTS ivolve;
              CREATE USER IF NOT EXISTS 'appuser'@'%' IDENTIFIED BY '$APP_PASSWORD';
              GRANT ALL PRIVILEGES ON ivolve.* TO 'appuser'@'%';
              FLUSH PRIVILEGES;"
            echo "Database and user setup complete."

      containers:
      - name: nodejs
        image: yourdockerhubusername/nodejs-app:latest
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: mysql-config
        - secretRef:
            name: mysql-secret

